.page {
    font-size: 20px;
    font-family:sans-serif;
    padding: 50px 70px;
}

.sea-theme {
    background-color: aqua;
}

.blood-theme {
    background-color: darkred;
}

.button {
    padding: 15px 20px;
    border-radius: 30px;
    border: thin;
    box-shadow: 0px 0px 15px 11px rgba(217, 0, 255, 0.29);
    font-size: 20px;
    font-weight: 700;
}

.button:hover {
    opacity: 85%;
    cursor: pointer;
}

.button-theme {
    background-color:yellow;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.button-calculate {
    background-color:darkblue;
    color: aquamarine;
}
