.page {
    font-size: 20px;
    font-family:sans-serif;
    padding: 50px 70px;
}

.sea-theme {
    background-color: aqua;
}

.blood-theme {
    background-color: darkred;
}

.nav-menu {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.nav-menu:hover {
    color: blanchedalmond;
}

.button {
    padding: 15px 20px;
    margin: 10px 15px;
    border-radius: 30px;
    border: thin;
    box-shadow: 0px 0px 15px 11px rgba(217, 0, 255, 0.29);
    font-size: 20px;
    font-weight: 700;
}

.button:hover {
    opacity: 85%;
    cursor: pointer;
}

.button-theme {
    background-color:yellow;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.button-calculate {
    background-color:darkblue;
    color: aquamarine;
}

.button-symbol-code {
    background-color: black;
    color: chartreuse;
}

.button-symbol-count {
    background-color:rgb(15, 236, 15);
    color:red;
}

.button-sum-salary {
    background-color: rgb(221, 4, 174);
    color:rgb(208, 255, 0);
}

.button-word-length {
    background-color: red;
    color:yellowgreen;
    position: relative;
    bottom: 430px;
}

.button-popular-symbol {
    background-color: orange;
    color:black;
    position: relative;
    bottom: 430px;
}



.array-section {
    margin-top: 30px;
}

.array-textarea {
    margin-top: 10px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.lightbox {
    padding: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-height: 100%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.button-close-lightbox {
    background-color: springgreen;
    color: navy;
}

.lightbox-title {
    font-weight: 600;
    font-size: 30px;
}

.lightbox-content {
    margin: 20px;
    white-space: pre-wrap;
}

.calculator-page-section {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.salary-input {
    margin: 10px;
}

.results-salary {
    margin: 20px 0;
}
