body {
  padding: 50px;
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

table {
  border: 1px solid white;
  padding: 5px;
  border-collapse: collapse;
}
 th, td {
   padding: 10px;
   border: 1px solid white;
 }

 .block {
  display: inline-block;
  margin: 50px 30px;
 }

 .block-table {
   vertical-align: top;

 }

.field {
  padding-bottom: 7px;
}

 .field label {
  display: inline-block;
  width: 130px;
 }

 form button {
  margin-left: 130px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;

 }
